.header{
    background-color: white;
    color: black;
}
.menu{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}
.menu-link{
    display: block;
    padding: 10px;
    margin: 5px;

    background-color: #333333;
    color: white;
    text-decoration: none;
}
.header-login{
    display: inline-block; 
    padding: 10px;
    margin: 5px;
    background-color: #956D84;
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.header-logo-wrap{
    display: flex;
    align-items: flex-start;
    color: #f33186;
    text-decoration: none;
    flex-direction: column;
}
.header-title{
    text-decoration: none;
    margin-left: 100px;
    margin-top: auto;
}
.header-menu{
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
}
.header{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
}
.menu-link{
    transition: background-color 0.3s,
    color 0.3s;
}
.menu-link:hover {
    background-color: #524f4f;
}
.menu-link:active {
    background-color: #292828;
}
.header-login{
    transition: background-color 0.3s,
    color 0.3s;
}
.header-login:hover {
    background-color: #865772;
}
.header-login:active {
    background-color: #956D84;
}
