.banner{
    display: flex;
    gap: 52px;
    padding: 10px;
    text-align: justify;
}
.banner-right{
    width: 400px;
}
.bouquet{
    width: 353px;
    padding: 15px;

    background-color: rgb(250, 237, 242);
    color: black;
    box-shadow: 1px 2px 20px 5px #d7d7d7;  
}
.bouquet-name{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.bouquet-price{
    margin-top: 15px;
    margin-bottom: 30px;
    font-style: italic;
    margin-left: 30px;
    text-align: center;
}
.bouquet-link{
    display: block;
    padding: 10px;
    background-color: #956D84;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-align: center;
}
.type-promotion{
    margin: 0;
    padding: 20px 0;
    display: flex;
    gap: 100px;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: space-around;
}
.type-popular{
    margin: 0;
    padding: 20px 0;
    display: flex;
    gap: 100px;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: space-around;
}
.type-box{
    margin: 0;
    padding: 20px 0;
    display: flex;
    gap: 100px;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: space-around;
}
.bouquet{
    display: flex;
    flex-direction: column;
}
.bouquet-link{
    margin-top: auto;
}
.bouquet-link{
    transition: background-color 0.3s,
    color 0.3s;
}
.bouquet-link:hover {
    background-color: #865772;
}
.bouquet-link:active {
    background-color: #956D84;
}
.bouquet-request {
    background-color: rgb(250, 237, 242);
    display: flex;
    justify-content: center;
    gap: 28px;
}
.request-block {
    margin-left: 30px;
    margin-top: 83px;
}
.request-img {
    margin-right: 20px;
    width: 320px;
}
.request-button{
    display: block;
    padding: 10px;
    background-color: #956D84;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-align: center;
    border: aliceblue;
    margin-left: 43px;
}
.applications {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.application{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 64px;
    background-color: rgb(244, 210, 223);
    color: black;
    height: 250px;
}
.application-form {
    width: 500px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-right: 26px;
}
.application-wrap {
    margin-left: 53px;
}
.application-button {
    display: block;
    padding: 10px;
    background-color: #956D84;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-align: center;
    border: aliceblue;
}
.application-input{
    padding: 10px;
}
